* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica,sans-serif;
    color: #0c0c0c;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

.clearfix {
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* mobile portrait */
@media (min-width:240px) {
    header {
        width: 100%;
        margin: auto;
        height: 80px;
        border-bottom: 1px solid #0c0c0c;
    }

    #logo {
        display: block;
        max-width: 280px;
        margin: 0 auto;
        width: 100%;
    }

        #logo a, #logo h1 {
            padding-left: 20px;
            display: block;
            float: left;
            line-height: 80px;
            height: 80px;
        }

            #logo a img {
                height: 60px;
                vertical-align: middle;
            }

    nav {
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 1px solid #0c0c0c;
    }

        nav ul {
            height: 100%;
            list-style: none;
            line-height: 40px;
        }

            nav ul li a {

                text-decoration: none;

                color: #0c0c0c;
                font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
            }

              nav ul li a:hover {
                text-decoration: underline;
            }

            nav ul li .selected {
                text-decoration: underline;
            }

    .jumbotron {
        border-bottom: 1px solid #0c0c0c;
    }

    .jumbotron, .page-heading, .page-heading * {
        color: #fafafa;
        background-color: #3f3f3f;
    }

    .video {
        border-bottom: 1px solid #0c0c0c;
        width: 100%;
        background-color: #0c0c0c;
    }

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

        .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    main, .jumbotron {
        width: 100%;
    }

    .page-heading, .main-footer, .contact{
        display: block;
        width: 90%;
        margin: auto;
        padding: 30px 0;
    }

        .page-heading p, .main-footer p {
            padding: 10px 0;
        }


    .card * {
        display: block;
        margin: 20px auto 0;
    }

    .card .icon {
        max-width: 20%;
        padding-top: 30px;
    }

    .card h3, .card p {
        text-align: center;
        max-width: 80%;
    }

    .card-text a{
        text-decoration: none;
    }

    .card h3 {
        text-transform: uppercase;
        font-size: x-large;
    }

    .card p {
        overflow: hidden;
        line-height: 22px;
        max-height: 88px;
    }

    .btn-link {
        width: 40%;
        text-align: center;
        border: 1px solid #0c0c0c;
        line-height: 40px;
        text-decoration: none;
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }

label, input, textarea{
    display: block;
    width: 100%;
    
}
input, textarea, button{
border: 1px solid #0c0c0c;
font-size: 16px;
}

label{
    padding: 10px 0;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}
input, button{
   height:30px;
}
button{
    margin: 10px 0;
    padding: 0 10px;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

    footer {
        width: 100%;
        border-top: 1px solid #0c0c0c;
    }

    #footer {
        padding: 10px 0;
        text-align: center;
        font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    }
}

/* mobile landscape */
@media (min-width:481px) {

    nav ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .btn-link {
        width: 30%;
    }
}

/* tablet portrait */
@media (min-width:641px) {

    nav ul {
        display: inline;
        line-height: 80px;
    }

        nav ul li {
            padding: 0 40px;
            display: inline;
        }
            #footer {
        padding: 20px 0;
    }
}

/* tablet landscape*/
@media (min-width:961px) {
    header, nav {
        display: block;
        float: left;
        width: 50%;
        height: 80px;
        line-height: 80px;
    }

    #logo {
        display: block;
        max-width: 400px;
        margin: 0;
        width: 100%;
    }

        #logo a, #logo h1 {
            line-height: 80px;
            height: 80px;
        }

    nav {
        text-align: right;
    }

        nav ul {
            height: 80px;
            line-height: 80px;
        }

            nav ul li {
                padding: 0 20px;
            }

    .container {
        width: 85%;
        display: block;
        margin: 0 auto;
    }

    .card {
        clear: both;
        width: 70%;
        margin: auto;
    }

    .about-content {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        padding-top: 15px;
    }

        .about-content p {
            padding-top: 1px;
        }

    .card-image {
        display: block;
        float: left;
        width: 30%;
        margin: 0 auto;
    }

    .card .icon {
        max-width: 70%;
        line-height: 70%;
    }

    .card-text {
        display: block;
        float: left;
        width: 70%;
        text-align: center;
    }

        .card-text h3 {
            margin-top: 0;
        }
        .contact-details, .contact-form{
            display:block;
            width:50%;
            float:left;
            
        }

}

/* desktop */
@media (min-width:1281px) {
    #logo a, #logo h1 {
        padding-left: 30px;
    }


        nav ul li {
            padding: 0 30px;
        }



    .jumbotron {
        padding: 20px 0;
    }

    .container {
        width: 50%;
    }

    main, .page-heading {
        display: block;
        width: 90%;
        max-width: 1400px;
        margin: auto;
    }

    .main-footer {
        width: 100%;
    }

    .card {
        padding: 30px 0;
        margin: 0;
        float: left;
        display: block;
        clear: none;
        width: 33%;
    }

    .card-image {
        width: 100%;
    }

    .card .icon {
        width: 30%;
    }

    .card-text {
        clear: both;
        width: 100%;
        margin: auto;
    }

        .card-text * {
            margin-top: 30px;
        }

    .card p {
        max-height: 100%;
    }

    .btn-link {
        width: 60%;
    }
}
